* {
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 25px;
    font-weight: bold;
    
}

h1 {
    font-weight: bold;
    font-size: 30px;
}

.location_icon {
    width: 60px;
    vertical-align: middle;
}

img {
    opacity: 0.8;
    border-radius: 50%;
}

.avatar {
    width: 200px;
}

h3 {
    font-style: italic;
}

.writeup {
    background-color: lightblue;
    font-size: 20px;
}

#my_hobbies {
    margin-top: 10px;
}
ul {
    padding-top: 0;
}

li {
    color: darkblue;
    font-weight: normal;
    line-height: 1;
    margin-left: 40px;
    font-size: 20px;
}

#link {
    background-color: lightblue;
    font-size: 20px;
}

a {
    font-size: 20px;
}

/*
to target ids: use #
to target classes: use .
to target every element: use * (universal selector)
*/